:root{
    --principal_color: #242424;
    --principal_color_dark: #1E1E1E;
    --principal_color_light: #4A4A4A;
    --secondary_color: #806600; /* #fc0 */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;

    background-color: var(--principal_color);
    overflow-x: hidden;
}
header{
    padding: 1rem;

    display: flex;
    justify-content: center;
    background-color: var(--principal_color_dark);
}
main{
    width: 100%;
    padding: 2rem;
}

/* design rules */
h1{
    color: aliceblue;
    font-size: 2rem;
    font-weight: 200;
}
form{
    display: grid;
    grid-template-rows: auto;
    gap: 0.2rem;

    font-size: 1.2rem;
    color:aliceblue;
    font-weight: 200;
}
input{
    width: 100%;

    background-color: transparent;
    border: none;
    border-bottom: var(--principal_color_light) 1px solid;
    outline: none;

    color:aliceblue;
    font-size: 1.5rem;
}
button{
    padding: .5rem;
    font-size: 1.5rem;
    color: aliceblue;

    background-color: var(--principal_color_light);
    border: none;
    transition: all 200ms ease-in-out;
}
button:hover{
    font-size: 1.5rem;
    color: aliceblue;

    background-color: var(--principal_color_dark);
    border: var(--secondary_color) 1px solid;
}
table{
    display: flex;
    justify-content: center;

    font-size: 1.2rem;
    color: aliceblue;

    border-collapse: collapse;
}
td{
    text-align: center;
    padding: .2rem 2rem;

    border-bottom: 1px var(--secondary_color) solid;
}
tr:nth-child(even){
    background-color: var(--principal_color_light);
}
tr{
    transition: all 200ms ease-in-out;
}
tr:hover{
    background-color:black;
}

/* public classes */
.f_row{
    display: flex;
    flex-direction: row;
    gap: .5rem;
}
.normalized_space{
    margin: 1rem 0;
}

/* specific layout */
#principal{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}